* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Narrow";
}


:root {
    --clr: #222327;
    --bgc: #eeee;
    --gry: grey;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: lightgrey;
}

.navigation {
    width: 400px;
    height: 100%;
    background: var(--gry);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation ul {
    display: flex;
    width: 400px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 400px;
    /*height: 70px;*/
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.navigation ul li a {
    position: relative;
    margin-top: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;

}

.navigation ul li a .icon {
    justify-content: flex-start;
    position: absolute;
    display: block;
    transition: 0s;
    opacity: 0;
}

.navigation ul li.active a .icon {
    transition: 1s;
    opacity: 1;

}

.navigation ul li.active{
    width: 410px;
    left: 5px;
    color: green;
    background: var(--bgc);
    transition: 0.5s;
}

.navigation ul li a .text {
    left: 150px;
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateX(20px);
}

.navigation ul li.active a .text {
    transform: translateX(20px);
    font-size: 2em;
}