<!-- Asger og Simon -->
<div th:fragment="navbar">
    <nav class="navbar">
        <div class="brand-title">BILABONNEMENT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/index"> Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>



<div th:fragment="master">
    <nav class="navbar">
        <div class="brand-title">BILABONNEMENT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/delete"> Slet enhed</a></li>
                <li><a href="/createemployee">Opret medarbejder</a></li>
                <li><a href="/damageReport">Opret skade</a></li>
                <li><a href="/registerAgreement">Opret lejeaftale</a></li>
                <li><a href="/createCar">Opret ny bil</a></li>
                <li><a href="/createuser">Opret ny kunde</a></li>
                <li><a href="/rentedCars">Udlejede biler</a></li>
                <li><a href="/allCars">Alle biler</a></li>
                <li><a href="/index"> Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>


<div th:fragment="admin">
    <nav class="navbar">
        <div class="brand-title">BILABONNEMENT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/createemployee">Opret medarbejder</a></li>
                <li><a href="/damageReport">Opret skade</a></li>
                <li><a href="/registerAgreement">Opret lejeaftale</a></li>
                <li><a href="/createCar">Opret ny bil</a></li>
                <li><a href="/createuser">Opret ny kunde</a></li>
                <li><a href="/rentedCars">Udlejede biler</a></li>
                <li><a href="/allCars">Alle biler</a></li>
                <li><a href="/index"> Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="employee">
    <nav class="navbar">
        <div class="brand-title">BILABONNEMENT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/damageReport">Opret skade</a></li>
                <li><a href="/registerAgreement">Opret lejeaftale</a></li>
                <li><a href="/createuser">Opret ny kunde</a></li>
                <li><a href="/rentedCars">Udlejede biler</a></li>
                <li><a href="/allCars">Alle biler</a></li>
                <li><a href="/index"> Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="user">
    <nav class="navbar">
        <div class="brand-title">BILABONNEMENT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/allCars">Alle biler</a></li>
                <li><a href="/index"> Log ud</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <div class="footer">
        <ul>
            <li><a href="#">Made by gruppe 8:</a></li>
            <li><a href="#">Asger</a></li>
            <li><a href="#">Mikkel</a></li>
            <li><a href="#">Simon</a></li>
        </ul>
    </div>
</div>