<div th:fragment="navbar">
    <nav class="navbar">
        <div class="brand-title">Bil Abonnement</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/index"> Hjem</a></li>
                <li><a href="/createuser">Opret bruger</a></li>
                <li><a href="/createemployee">Opret medarbejder</a></li>
                <li><a href="/damageReport">Opret skade</a></li>
                <li><a href="/registerAgreement">Opret lejeaftale</a></li>
                <li><a href="/rentedCars">Udlejede biler</a></li>
                <li><a href="/allCars">Alle biler</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <div class="footer">
        <ul>
            <li><a href="#">Made by gruppe 8:</a></li>
            <li><a href="#">Asger</a></li>
            <li><a href="#">Mikkel</a></li>
            <li><a href="#">Simon</a></li>
        </ul>
    </div>
</div>