<div th:fragment="navbar">
    <nav class="navbar">
        <div class="brand-title">Bil Abonnement</div>
        <div class="navbar-links">
            <ul>
                <li><a href="/index"> Hjem</a></li>
                <li><a href="/createuser">Opret bruger</a></li>
                <li><a href="/damageReport">Opret skade</a></li>
                <li><a href="/registerAgreement">Opret lejeaftale</a></li>
                <li><a href="/rentedCars">Udlejede biler</a></li>
                <li><a href="/allCars">Alle biler</a></li>
            </ul>
        </div>
    </nav>
</div>