<!-- Simon -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
    <link rel="stylesheet" th:href="@{background.css}" href="../static/background.css">
</head>
<body>
<div th:replace="fragments/fragmentlibary :: admin"></div>

<div th:replace="fragments/fragmentlibary :: footer"></div>
</body>
</html>