<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
    <link rel="stylesheet" th:href="@{rentedCars.css}" href="../static/rentedCars.css">
    <link rel="stylesheet" th:href="@{background.css}" href="../static/background.css">

</head>
<body>

<div th:replace="fragments/fragmentlibary :: navbar"></div>
<h1> Alle biler</h1>
<table>

    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Mærke</th>
        <th>Farve</th>
        <th>Pris</th>
    </tr>

    <tr
            th:each="allCars : ${allCars}">
        <td th:text="${allCars.getCarNumber()}"></td>
        <td th:text="${allCars.getModel()}"></td>
        <td th:text="${allCars.getBrand()}"></td>
        <td th:text="${allCars.getColor()}"></td>
        <td th:text="${allCars.getPrice()}"></td>

    </tr>
</table>

<div th:replace="fragments/fragmentlibary :: footer"></div>

</body>
</html>