<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
</head>
<body>

<div th:replace="fragments/fragmentlibary :: navbar"></div>

<form method="post" action="/createsuccess">
    <div class="container">
        <h1>Opret ny bruger</h1>
        <label for="email"><b>Indtast email</b></label>
        <input type="text" placeholder="Email" name="email" required id="email">
        <br><br/>
        <label for="password"><b>Indtast password</b></label>
        <input type="password" placeholder="Password" name="password" required id="password">
        <br><br/>
        <label for="firstname"><b>Indtast dit fornavn</b></label>
        <input type="text" placeholder="Fornavn" name="firstname" required id="firstname">
        <br><br/>
        <label for="lastname"><b>Indtast dit efternavn</b></label>
        <input type="text" placeholder="Efternavn" name="lastname" required id="lastname">
        <br><br/>
        <label for="number"><b>Indtast dit telefon nummer</b></label>
        <input type="number" placeholder="Telefon nummer" name="number" required id="number">
        <br><br/>
        <button type="submit">Opret ny bruger</button>
    </div>
</form>

<div th:replace="fragments/fragmentlibary :: footer"></div>

</body>
</html>