<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<form method="post" action="/index">
    <div class="container">
        <h1>Opret ny bruger</h1>
        <label for="email"><b>Indtast email</b></label>
        <input type="text" placeholder="Enter email" name="email" required>
        <br><br/>
        <label for="password"><b>Indtast password</b></label>
        <input type="password" placeholder="Enter password" name="password" required>
        <br><br/>
        <button type="submit">Opret ny bruger</button>
    </div>
</form>

</body>
</html>