<!-- Kodet af Asger -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
    <link rel="stylesheet" th:href="@{background.css}" href="../static/background.css">
</head>
<body>

<div th:replace="fragments/fragmentlibary :: navbar"></div>

<form method="post" action="/damageReportCreated">
    <div class="container">
        <h1>Opret ny skaderapport</h1>
        <label for="agreementID"><b>Lejeaftale ID</b></label>
        <input type="number" placeholder="Lejeaftale ID" name="agreementID" id="agreementID">
        <br><br/>
        <label for="damage"><b>Skade</b></label>
        <input type="text" placeholder="skade" name="damage" required id="damage">
        <br><br/>
        <label for="price"><b>Pris for skaden</b></label>
        <input type="text" placeholder="pris" name="price" required id="price">
        <br><br/>
        <button type="submit">Opret ny skaderapport</button>
    </div>
</form>

<div th:replace="fragments/fragmentlibary :: footer"></div>

</body>
</html>