<!-- Kodet af Simon -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Master hemmelig side </title>
    <link rel="stylesheet" th:href="@{frontpage.css}" href="../static/frontPage.css">
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{background.css}" href="../static/background.css">

</head>
<body>

<div th:replace="fragments/fragmentlibary :: master"></div>

<form>
    <div class="container">
        <h1><b>Slet fra database!</b></h1>
        <label for="type"><b>Indtast hvilken ting du vil slette</b></label>
        <select name="type" id="type">
            <option value="employee">Employee</option>
            <option value="car">Car</option>
            <option value="rental agreement">Rental Agreement</option>
            <option value="customer">Customer</option>
            <option value="damage report">Damage report</option>
        </select>
        <br><br/>
        <label for="id"><b>Indtast ID'et for det du vil slette</b></label>
        <input type="number" placeholder="Indtast ID" name="id" required id="id">
        <br><br/>
        <button type="submit">Slet ting</button>
    </div>
</form>

<div th:replace="fragments/fragmentlibary :: footer"></div>

</body>
</html>