<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
</head>
<body>

<div th:replace="fragments/fragmentlibary :: navbar"></div>

<form method="post" action="logintest">
    <div class="container">
        <h1>Login for medarbejdere</h1>
        <label for="email"><b>Indtast email</b></label>
        <input type="text" placeholder="email" name="email" required id="email">
        <br><br/>
        <label for="password"><b>Indtast password</b></label>
        <input type="password" placeholder="password" name="password" required id="password">
        <br><br/>
        <button type="submit">Login</button>
    </div>
</form>

<div th:replace="fragments/fragmentlibary :: footer"></div>

</body>
</html>