<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css.css">
</head>
<body>

<div class="menubar">
<ul>
    <li><a class="menubar" href="/index"> Hjem</a></li>
    <li><a class="menubar" href="/createuser">Opret bruger</a></li>
    <li><a class="menubar" href="/damageReport">Opret skade</a></li>
    <li><a class="menubar" href="/registerAgreement">Opret lejeaftale</a></li>

    <li><a class="bilabonnement" href="/index">
        Bilabonnement</a></li>

</ul>
</div>

<form method="post" action="logintest">
    <div class="container">
        <p>Login for medarbejdere</p>
        <label for="email"><b>Indtast email</b></label>
        <input type="text" placeholder="email" name="email" required>
        <br><br/>
        <label for="password"><b>Indtast password</b></label>
        <input type="password" placeholder="password" name="password" required>
        <br><br/>
        <button type="submit">Login</button>

    </div>
</form>



</body>
</html>