<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Master hemmelig side </title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<form method="post" action="/delete">
    <div class="container">
        <h1><b>Slet fra database!</b></h1>
        <label for="type"><b>Indtast hvilken ting du vil slette</b></label>
        <input type="text" placeholder="Indtast her" name="type" required>
        <br><br/>
        <label for="id"><b>Indtast ID'et for det du vil slette</b></label>
        <input type="number" placeholder="Indtast ID" name="id" required>
        <br><br/>
        <button type="submit">Slet ting</button>

    </div>
</form>



</body>
</html>