<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Master Page</title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
</head>
<body>
<nav classname="leftbar">


    <a href="index.html">
        Login page
    </a>
    <ul>
        <li>
            <a href="#">første link</a>
        </li>
        <li>
            <a href="#">andet link</a>
        </li>
        <li>
            <a href="#">tredje link</a>
        </li>
        <li>
            <a href="#">fjerde link</a>
        </li>
        <li>
            <a href="#">femte link</a>
        </li>
        <li>
            <a href="#">sjette link</a>
        </li>
    </ul>
</nav>
</body>
</html>