<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new agreement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<form method="post" action="/registeredAgreement">
    <div class="container">
        <h1>Opret nyt agreement</h1>
        <label for="customerID"><b>Indtast kunde ID</b></label>
        <input type="number" placeholder="kunde ID" name="customerID" required>
        <br><br/>
        <label for="carNumber"><b>Indtast vogn nummer</b></label>
        <input type="number" placeholder="vogn nummer" name="carNumber" required>
        <br><br/>
        <label for="period"><b>Indtast øsnkede period</b></label>
        <input type="text" placeholder="periode" name="period" required>
        <br><br/>
        <label for="price"><b>Indtast total prisen</b></label>
        <input type="text" placeholder="total pris" name="price" required>
        <br><br/>
        <button type="submit">Opret ny lejeaftale</button>
    </div>
</form>

</body>
</html>