<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
    <link rel="stylesheet" th:href="@{rentedCars.css}" href="../static/rentedCars.css">

</head>
<body>

<div th:replace="fragments/fragmentlibary :: navbar"></div>
<h1> Udlejede biler</h1>
<table>

    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Mærke</th>
        <th>Farve</th>
        <th>Pris</th>
    </tr>


    <tr
            th:each="rentedcars : ${rentedcars}">
        <td th:text="${rentedcars.getCarNumber()}"></td>
        <td th:text="${rentedcars.getModel()}"></td>
        <td th:text="${rentedcars.getBrand()}"></td>
        <td th:text="${rentedcars.getColor()}"></td>
        <td th:text="${rentedcars.getPrice()}"></td>
    </tr>
</table>

<table id="price">
    <h2>Pris for alle udlejede biler: <span th:text="${price}"></span>kr.</h2>
</table>

<div th:replace="fragments/fragmentlibary :: footer"></div>

</body>
</html>