<!-- Kodet af Asger -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{fragmentStyle.css}" href="../static/fragmentStyle.css">
    <link rel="stylesheet" th:href="@{frontPage.css}" href="../static/frontPage.css">
    <link rel="stylesheet" th:href="@{rentedCars.css}" href="../static/rentedCars.css">
    <link rel="stylesheet" th:href="@{background.css}" href="../static/background.css">

</head>
<body>

<div th:replace="fragments/fragmentlibary :: navbar"></div>
<div class="body">

    <table style="background-color: white" id="price">
        <h2>Pris for alle udlejede biler: <span th:text="${price}"></span>kr.</h2>
    </table>

<h1> Udlejede biler</h1>
    <table style="background-color: white">
<tbody style="background-color: white">
    <tr style="background-color: white">
        <th>ID</th>
        <th>Model</th>
        <th>Mærke</th>
        <th>Farve</th>
        <th>Pris</th>
    </tr>


    <tr
            th:each="rentedcars : ${rentedcars}">
        <td th:text="${rentedcars.getCarNumber()}"></td>
        <td th:text="${rentedcars.getModel()}"></td>
        <td th:text="${rentedcars.getBrand()}"></td>
        <td th:text="${rentedcars.getColor()}"></td>
        <td th:text="${rentedcars.getPrice()}"></td>
    </tr>
</tbody>
</table>


<div th:replace="fragments/fragmentlibary :: footer"></div>
</div>
</body>
</html>